<a href="https://colab.research.google.com/github/Amanpatni211/Deep-Learning-from-scratch/blob/main/103120080_ML_Task0_spider.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
Dataset =pd.read_csv(r'/content/drive/MyDrive/student-course1.csv',sep=';')
Dataset.head(12)

   school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0      GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1      GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2      GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3      GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4      GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5      GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6      GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7      GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8      GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9      GP   M   15       U     GT3       T  ...     1       5        0  14  15  15
10     GP   F   15       U     GT3       T  ...     2       2        0  10   8   9
11     GP   F   15       U     GT3       T  ...     1       4        4  10  12  12

[12 rows x 33 columns]

In [ ]:
obj_Dataset = Dataset.select_dtypes(include=['object']).copy() #columns having non-numerical datatype
print(obj_Dataset.head())
int_Dataset = Dataset.select_dtypes(include=['int64']).copy() #columns having numerical datatype
print(int_Dataset.head())

  school sex address famsize  ... nursery higher internet romantic
0     GP   F       U     GT3  ...     yes    yes       no       no
1     GP   F       U     GT3  ...      no    yes      yes       no
2     GP   F       U     LE3  ...     yes    yes      yes       no
3     GP   F       U     GT3  ...     yes    yes      yes      yes
4     GP   F       U     GT3  ...     yes    yes       no       no

[5 rows x 17 columns]
   age  Medu  Fedu  traveltime  studytime  ...  health  absences  G1  G2  G3
0   18     4     4           2          2  ...       3         6   5   6   6
1   17     1     1           1          2  ...       3         4   5   5   6
2   15     1     1           1          2  ...       3        10   7   8  10
3   15     4     2           1          3  ...       5         2  15  14  15
4   16     3     3           1          2  ...       5         4   6  10  10

[5 rows x 16 columns]

In [ ]:
#Converting object Data  into suitable numerical values
hp = list(obj_Dataset.columns)

for i in range(len(hp)):
  print(obj_Dataset[hp[i]].value_counts())
for t in range(len(hp)):
  obj_Dataset[hp[t]] = obj_Dataset[hp[t]].astype('category')
  obj_Dataset[hp[t]] = obj_Dataset[hp[t]].cat.codes
print(obj_Dataset.head())
for i in range(len(hp)):
  print(obj_Dataset[hp[i]].value_counts())

GP    349
MS     46
Name: school, dtype: int64
F    208
M    187
Name: sex, dtype: int64
U    307
R     88
Name: address, dtype: int64
GT3    281
LE3    114
Name: famsize, dtype: int64
T    354
A     41
Name: Pstatus, dtype: int64
other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64
other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64
course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64
mother    273
father     90
other      32
Name: guardian, dtype: int64
no     344
yes     51
Name: schoolsup, dtype: int64
yes    242
no     153
Name: famsup, dtype: int64
no     214
yes    181
Name: paid, dtype: int64
yes    201
no     194
Name: activities, dtype: int64
yes    314
no      81
Name: nursery, dtype: int64
yes    375
no      20
Name: higher, dtype: int64
yes    329
no      66
Name: internet, dtype: int64
no     263
yes    132
Name: romantic, dtype: int64
   school  sex  address  famsize  ...  nursery  higher  internet  romantic
0       0    0        1        0  ...        1       1         0         0
1       0    0        1        0  ...        0       1         1         0
2       0    0        1        1  ...        1       1         1         0
3       0    0        1        0  ...        1       1         1         1
4       0    0        1        0  ...        1       1         0         0

[5 rows x 17 columns]
0    349
1     46
Name: school, dtype: int64
0    208
1    187
Name: sex, dtype: int64
1    307
0     88
Name: address, dtype: int64
0    281
1    114
Name: famsize, dtype: int64
1    354
0     41
Name: Pstatus, dtype: int64
2    141
3    103
0     59
4     58
1     34
Name: Mjob, dtype: int64
2    217
3    111
4     29
0     20
1     18
Name: Fjob, dtype: int64
0    145
1    109
3    105
2     36
Name: reason, dtype: int64
1    273
0     90
2     32
Name: guardian, dtype: int64
0    344
1     51
Name: schoolsup, dtype: int64
1    242
0    153
Name: famsup, dtype: int64
0    214
1    181
Name: paid, dtype: int64
1    201
0    194
Name: activities, dtype: int64
1    314
0     81
Name: nursery, dtype: int64
1    375
0     20
Name: higher, dtype: int64
1    329
0     66
Name: internet, dtype: int64
0    263
1    132
Name: romantic, dtype: int64

In [ ]:
obj_Dataset.head()

   school  sex  address  famsize  ...  nursery  higher  internet  romantic
0       0    0        1        0  ...        1       1         0         0
1       0    0        1        0  ...        0       1         1         0
2       0    0        1        1  ...        1       1         1         0
3       0    0        1        0  ...        1       1         1         1
4       0    0        1        0  ...        1       1         0         0

[5 rows x 17 columns]

In [ ]:
#Making them one again, here all data is numerical
frames = [obj_Dataset, int_Dataset]
  
final_data = pd.concat(frames,axis=1)
final_data.head()

   school  sex  address  famsize  Pstatus  ...  health  absences  G1  G2  G3
0       0    0        1        0        0  ...       3         6   5   6   6
1       0    0        1        0        1  ...       3         4   5   5   6
2       0    0        1        1        1  ...       3        10   7   8  10
3       0    0        1        0        1  ...       5         2  15  14  15
4       0    0        1        0        1  ...       5         4   6  10  10

[5 rows x 33 columns]

In [ ]:
#spliting data in Train and Test

train=final_data.sample(frac=0.8,random_state=200) #random state is a seed value
test=final_data.drop(train.index)

In [ ]:
Y_trainA = (train.iloc[:, -3:]) 
Y_trainA.describe() #after running the cell,we realize that marks can range from 0 to 20 (only integers)

               G1          G2          G3
count  316.000000  316.000000  316.000000
mean    11.047468   10.908228   10.667722
std      3.265154    3.614055    4.455106
min      3.000000    0.000000    0.000000
25%      8.000000    9.000000    9.000000
50%     11.000000   11.000000   11.000000
75%     13.250000   13.000000   14.000000
max     19.000000   19.000000   20.000000

In [ ]:
x_train = (train.drop(columns=['G1', 'G2', 'G3'], axis=0)).values
y_train1 = (train.iloc[:, -1:]).values
y_train2 = y_train1.T
x_val = (test.drop(columns=['G1', 'G2', 'G3'], axis=0)).values
y_val = (test.iloc[:, -1:]).values

In [ ]:
y_train = y_train2.T

In [ ]:
#here we encode are labels to make the model understand what it means, so we have 21 zeros except at one place there is one ,
#which has index of its VALUE+1
'''a = np.array(y_train2)
y_train = np.zeros((a.size, a.max()+1))
y_train[np.arange(a.size),a] = 1
#example, '6' which is the marks in G1 of 4th instance will be representated as below
print(y_train[4])
print(y_train2[0][4])
'''

"a = np.array(y_train2)\ny_train = np.zeros((a.size, a.max()+1))\ny_train[np.arange(a.size),a] = 1\n#example, '6' which is the marks in G1 of 4th instance will be representated as below\nprint(y_train[4])\nprint(y_train2[0][4])\n"

In [ ]:
x_train =x_train.reshape(316,1,30)

In [ ]:
y_train = list(y_train)

In [ ]:
y_train[77][0]

9

In [ ]:
class Layer:
    def __init__(self):
        self.input = None
        self.output = None

    # computes the output Y of a layer for a given input X
    def forward_propagation(self, input):
        raise NotImplementedError

    # computes dE/dX for a given dE/dY (and update parameters if any)
    def backward_propagation(self, output_error, learning_rate):
        raise NotImplementedError

# inherit from base class Layer
class FCLayer(Layer):
    # input_size = number of input neurons
    # output_size = number of output neurons
    def __init__(self, input_size, output_size):
        self.weights = np.random.rand(input_size, output_size) - 0.5
        self.bias = np.random.rand(1, output_size) - 0.5

    # returns output for a given input
    def forward_propagation(self, input_data):
        self.input = input_data
        
        self.output = np.dot(self.input,self.weights) + self.bias
        
        return self.output

    # computes dE/dW, dE/dB for a given output_error=dE/dY. Returns input_error=dE/dX.
    def backward_propagation(self, output_error, learning_rate):
        
        input_error = np.dot(output_error, self.weights.T)
        
        weights_error = np.dot(self.input.T,output_error)
        # dBias = output_error

        # update parameters
        self.weights -= learning_rate * weights_error
        self.bias = self.bias - learning_rate *output_error
        return input_error


#loss function and its derivative
def mse(y_true, y_pred):
    return(np.mean(np.power(y_true-y_pred, 2)));

def mse_prime(y_true, y_pred):
    return(2*(y_pred-y_true)/y_true.size);


#activation function and derivative

def tanh(x):
    return(np.tanh(x));

def tanh_prime(x):
    return(1-np.tanh(x)**2);
'''
# Rectified Linear Unit (ReLU)
def ReLU(x):
     
    return np.maximum(0,x)

# Derivative for ReLU
def ReLU_prime(x):
  return 1 if x >0 else 0 
'''
def ReLU(x):

  y = np.copy(x)
  y[y<0] = 0
  return y
  return relu

def ReLU_prime(x):
  y = np.copy(x)
  y[y>=0] = 1
  y[y<0] = 0
  return y
  return relu_diff

def sigmoid_prime(x):
    return (np.exp(-x))/((np.exp(-x)+1)**2)

def softmax(x):
  exps = np.exp(x - x.max())
  return exps / np.sum(exps, axis=0)

def softmax_prime(x):
    exps = np.exp(x - x.max())
    return exps / np.sum(exps, axis=0) * (1 - exps / np.sum(exps, axis=0))




#inherit from base class
class ActivationLayer(Layer):
    def __init__(self, activation, activation_prime):
        self.activation = activation
        self.activation_prime = activation_prime
        
    #return the activation input
    def forward_propagation(self, input_data):
        self.input = input_data
        
        self.output = self.activation(self.input)
        
        return(self.output)
    
    #return input_error = dE/dX for a given output_error=dE/dY
    def backward_propagation(self, output_error, learning_rate):
        
        return(self.activation_prime(self.input) * output_error)


class Network:
    def __init__(self):
        self.layers = []
        self.loss = None
        self.loss_prime = None

    # add layer to network
    def add(self, layer):
        self.layers.append(layer)

    # set loss to use
    def use(self, loss, loss_prime):
        self.loss = loss
        self.loss_prime = loss_prime

    # predict output for given input
    def predict(self, input_data):
        # sample dimension first
        samples = len(input_data)
        result = []

        # run network over all samples
        for i in range(samples):
            # forward propagation
            output = input_data[i]
            for layer in self.layers:
                output = layer.forward_propagation(output)
                
            result.append(output)
        print(result)
        return result

    # train the network
    def fit(self, x_train, y_train, epochs, learning_rate):
        # sample dimension first
        samples = len(x_train)
        #saving epoch and error in list
        epoch_list = []
        error_list = []

        # training loop
        for i in range(epochs):
            err = 0
            for j in range(samples):
                # forward propagation
                output = x_train[j]
                for layer in self.layers:
                    output = layer.forward_propagation(output)

                # compute loss (for display purpose only)
                err += self.loss(y_train[j][0], output)
                
                # backward propagation
                error = self.loss_prime(y_train[j][0], output)
                '''
                print("%%%%%%%%%%%%%")  #this is the error it shows , but why is it not leanrning then?
                print(error)
                print("@@@$")'''
                for layer in reversed(self.layers):
                    error = layer.backward_propagation(error, learning_rate)

            # calculate average error on all samples
            err /= samples
            print('epoch %d/%d   error=%f' % (i+1, epochs, err))
            
            epoch_list.append(i+1)
            error_list.append(err)
        
            #creating dataframe of epoch and error
            df = pd.DataFrame()
            df['epoch'] = epoch_list
            df['loss'] = error_list
        return df


#Network
net = Network()

net.add(FCLayer(30,10))
net.add(ActivationLayer(ReLU, ReLU_prime))
net.add(FCLayer(10, 9))

net.add(ActivationLayer(ReLU, ReLU_prime))
net.use(mse, mse_prime)

net.add(FCLayer(9, 9))
net.add(ActivationLayer(ReLU, ReLU_prime))
net.use(mse, mse_prime)

net.add(FCLayer(9, 5))
net.add(ActivationLayer(ReLU, ReLU_prime))
net.use(mse, mse_prime)
net.add(FCLayer(5, 1))
net.add(ActivationLayer(ReLU, ReLU_prime))
net.use(mse, mse_prime)





df = net.fit(x_train, y_train,epochs=1,learning_rate=0.1)

import plotly.express as px

fig = px.line(df, x='epoch', y='loss',title='Change in loss with respect to Epochs')
fig.show()

In [ ]:
out = net.predict(x_val[:1])
print(len(x_val))

[array([[0.]])]
79

In [ ]:
user_data = []
print("Try your own example")
aman = list(Dataset.columns)
aman=aman[:-3]

for i in range(len(aman)):
  b= int(input(aman[i]))
  user_data.append(b)

print(user_data)
prediction_on_test_data= net.predict(user_data)

Try your own example

KeyboardInterrupt: ignored

In [ ]:
# DONE-----------------X----------------